/*! module.css */

@font-face {
	font-family: 'icon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.svg#icomoon') format('svg'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'PaloAltoHeavy';
    src: url('../fonts/Palo_Alto_Regular-webfont.eot');
    src: url('../fonts/Palo_Alto_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Palo_Alto_Regular-webfont.woff') format('woff'),
         url('../fonts/Palo_Alto_Regular-webfont.ttf') format('truetype'),
         url('../fonts/Palo_Alto_Regular-webfont.svg#PaloAltoHeavy') format('svg');
    font-weight: bold;
    font-style: normal;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   vCard
   ========================================================================== */
   
.vcard {
    background: #008DB1;
    position: relative;
    font-family: 'PaloAltoHeavy', Arial, sans-serif;
}

.vcard .n {
    padding: 1em 0 0 0;
    margin: 0 auto;
    width: 60%;
    font-size: 35px;
}

.vcard .family-name{
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.vcard .n .url {
    color: white;
    text-decoration: none;
}

.vcard .title {
    padding: 0 0 1em;
    margin: 0 auto;
    width: 60%;
    text-align: right;
}

.vcard .photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 18%;
    cursor: pointer;
}

.vcard .email .say{
    position: absolute;
    top: 5%;
    left: 10%;
    display: block;
    background: white;
    color: #222;
    text-decoration: none;
    border-radius: 5px;
    padding: 0.5em 1em;
    font-size: 1.5em;
    font-weight: bold;
}

.vcard .email .say:before{
    padding-right: 0.5em;
    color: #008DB1;
}

.vcard .contact {
    position: absolute;
    top: 0;
    right: 1px;
    height: 60%;
    margin: 20% 0;
}

.vcard .contact > li {
    display: inline-block;
    list-style: none;
}

.vcard .contact .url {
	color: black;
	text-decoration: none;
	font-size: 4em;
	padding: 0.1em;
	-webkit-transition-property: color;
	-webkit-transition-duration: 400ms;
	-webkit-transition-timing-function: ease-out;
}

.vcard .contact .url:hover {
    color: white;
}

/* ==========================================================================
   icons
   ========================================================================== */

.icon-wordpress:before, .icon-linkedin:before, .icon-tux:before, .icon-skype:before, .icon-stackoverflow:before, .icon-html5:before, .icon-html5-2:before, .icon-chrome:before, .icon-css3:before, .icon-firefox:before, .icon-IE:before, .icon-opera:before, .icon-safari:before, .icon-github:before, .icon-github-2:before, .icon-github-3:before, .icon-mail:before, .icon-mail-2:before {
	font-family: 'icon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-wordpress:before {
	content: "\57";
}
.icon-linkedin:before {
	content: "\69";
}
.icon-tux:before {
	content: "\6c";
}
.icon-skype:before {
	content: "\73";
}
.icon-stackoverflow:before {
	content: "\53";
}
.icon-html5:before {
	content: "\48";
}
.icon-html5-2:before {
	content: "\68";
}
.icon-chrome:before {
	content: "\63";
}
.icon-css3:before {
	content: "\66";
}
.icon-firefox:before {
	content: "\46";
}
.icon-IE:before {
	content: "\65";
}
.icon-opera:before {
	content: "\6f";
}
.icon-safari:before {
	content: "\77";
}
.icon-github:before {
	content: "\67";
}
.icon-github-2:before {
	content: "\47";
}
.icon-github-3:before {
	content: "\74";
}
.icon-mail:before {
	content: "\6d";
}
.icon-mail-2:before {
	content: "\4d";
}
