/*! state.css */

/* ==========================================================================
   Helper classes
   ========================================================================== */
   
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/* ==========================================================================
   vCard
   ========================================================================== */

.vcard .contact .url:hover {
    opacity: 1;
    text-shadow: rgba(0, 233, 255, 1) 0px 0px 50px;
}

.is-vcard-reduced{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
}

.is-vcard-reduced .contact .url{
    font-size: 2em;
}

.is-vcard-reduced .n{
    padding: 0.1em 0 0 0;
}

.is-vcard-reduced .given-name{
    font-size: 30px;
}

.is-vcard-reduced .family-name{
    display: inline;
    font-size: 40px;
    line-height: 40px;
}

.is-vcard-reduced .title{
    position: absolute;
    top: 0;
    right: 20%;
    padding: 0.5em 0 0;
}


